


* {
  margin: 0;
  padding: 0;
}

header {
  background-color: #5f0a91;
  color: white;
  height: 150px;
}

header h1 {
  text-align: center;
  font-size: 50px;
}

div h1 {
  margin-top: 10px;
}

h1 {  
  margin-bottom: 20px;
}

nav ul {
  list-style: none;
  text-align: center;
}

nav ul li {
  display: inline;
  margin: 0 15px;
}

img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Google Sans Code' sans-serif;
}

header {
  background-color: #f8b400;
  color: white;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

header h1 {
  text-align: center;
  font-size: 50px;
}

h1 {  
  margin-bottom: 20px;
}

nav ul {
  list-style: none;
  text-align: center;
}

nav ul li {
  display: inline;
  margin: 0 15px;
}

img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}
